%h1 Donate to the Broke Student Film Festival!
%br/
.row
	.col-sm-6
		%p Your support is what allows the BSFF to give student filmakers the opportunity to see their films on the big screen!
	.col-sm-3.col-sm-offset-1
		= partial 'partials/paypal'