@import 'config';

.carousel {
	margin-bottom: 4em;

	.carousel-indicators {
		bottom: -2em;
	}
	.carousel-indicators li {
		color: $accent;
		border-color: $accent;
	}
	.carousel-indicators li.active {
		background-color: $accent;
	}
}